@model MyPortfolio.ViewModels.CreatePortfolioViewModel

@{
    ViewBag.Title = "Create Porfolio";
}



<div class="container mt-3 mb-5">

    <h1 class="text-center">Create Your Portfolio</h1>
    <h4 class="text-center">Complete the steps below to create your portfolio</h4>

    <table class="table table-striped table-hover table-bordered text-center" >
        <thead style="font-size:1.10em">
            <tr>
                <th style="width:50%">Steps</th>
                <th style="width:25%">Action</th>
                <th style="width:25%">Status</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td class="text-left">Basic Details</td>
                <td>
                    @if (Model.BasicInfoId == Guid.Empty)
                    {
                        @Html.ActionLink("Add", "SaveBasicInfo", "MyBasicInfo", null, new {@class= "btn btn-primary pl-4 pr-4" })
                    }

                    else
                    {
                        @Html.ActionLink("Edit", "SaveBasicInfo", "MyBasicInfo", new {basicInfoId = Model.BasicInfoId}, new {@class = "btn btn-warning pl-4 pr-4"})
                    }
                </td>

                <td style="color:white; ">
                    @if (Model.BasicInfoId == Guid.Empty)
                    {
                        <span class="badge bg-danger p-2">Incomplete</span>
                    }
                    else
                    {
                        <span class="badge bg-success p-2">Complete</span>
                    }

                </td>
            </tr>


            @*<tr>
                <td class="text-left">Education</td>
                <td>
                    <button type="button" class="btn btn-primary pl-4 pr-4">Add</button>
                    <button type="button" class="btn btn-warning pl-4 pr-4" style="color:white">Edit</button>
                </td>

                <td style="color:white">
                    <span class="badge bg-danger p-2">Incomplete</span>
                    <span class="badge bg-success p-2">Complete</span>
                </td>
            </tr>


            <tr>
                <td class="text-left">Experience</td>
                <td>
                    <button type="button" class="btn btn-primary pl-4 pr-4">Add</button>
                    <button type="button" class="btn btn-warning pl-4 pr-4" style="color:white">Edit</button>
                </td>

                <td style="color:white">
                    <span class="badge bg-danger p-2">Incomplete</span>
                    <span class="badge bg-success p-2">Complete</span>
                </td>                  
            </tr>


            <tr>
                <td class="text-left">Languages</td>
                <td>
                    <button type="button" class="btn btn-primary pl-4 pr-4">Add</button>
                    <button type="button" class="btn btn-warning pl-4 pr-4" style="color:white">Edit</button>
                </td>

                <td style="color:white">
                    <span class="badge bg-danger p-2">Incomplete</span>
                    <span class="badge bg-success p-2">Complete</span>
                </td>
            </tr>*@
        </tbody>

    </table>
</div>




